@import "../../../shared/scss/variables";

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $bg-color;

  height: 4.3125rem;
  padding: 0 2rem;

  .logo {
    img {
      margin: 0;
      width: 1.5625rem;
    }
  }
  .menu {
    ul {
      list-style: none;
      li {
        position: relative;

        display: inline-block;
        cursor: pointer;

        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: $menu-color;

        padding-right: 3.125rem;

        &:last-child {
          padding-right: 0;

          &::before {
            display: none;
          }
        }

        &:before {
          content: "";
          width: 0.625rem;
          height: 0.625rem;

          border: 0.125rem solid $menu-color;
          border-radius: 50%;

          box-sizing: border-box;

          top: calc(50% - 0.3125rem);
          right: 1.25rem;

          position: absolute;
        }

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
