$title-color: #377dc0;
$pg-color: #000000;
$input-bg: #d9d9d9;

$bg-color: #0a0a3c;
$menu-color: #fff;

$footer-color: #fff;

$bg-breadcrumb: #d9d9d9;
$color-breadcrumb: #000;

$table-border: #77a7d4;

$bg-actions-button: #d9d9d9;
