@import "../../../shared/scss/variables";

#create-user {
  padding: 3.125rem 0;

  .page-title,
  .label {
    font-size: 1.5rem;
    font-weight: 700;
    color: $title-color;

    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;

    border-bottom: 0.0625rem solid #eef3f7;
  }

  .label,
  .input {
    color: $pg-color;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0.625rem;
  }

  .label {
    border-bottom: none;
  }

  .input {
    width: 100%;
    font-size: 1.125rem;

    border-radius: 0.375rem;

    background-color: $input-bg;
    border: none;

    padding: 1.25rem;

    margin-bottom: 1.25rem;

    &:focus {
      outline: none;
    }
  }

  .form-check-input {
    margin-bottom: 3.125rem;
  }

  .button {
    background-color: $title-color;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;

    text-transform: uppercase;

    border-radius: 0.5rem;
    border: none;

    padding: 0.9375rem 1.5625rem;

    margin: 0.625rem 0;
  }

  .divisor {
    margin: 1.25rem 0;
    position: relative;
    border-bottom: 0.0625rem solid #eef3f7;
  }
}
