@import "../../../shared/scss/variables";

#create-user {
  padding: 50px 0;

  .page-title,
  .label {
    font-size: 24px;
    font-weight: 700;
    color: $title-color;

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-bottom: 1px solid #eef3f7;
  }

  .label,
  .input {
    color: $pg-color;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .label {
    border-bottom: none;
  }

  .input {
    width: 100%;
    font-size: 18px;

    border-radius: 6px;

    background-color: $input-bg;
    border: none;

    padding: 20px;

    margin-bottom: 20px;

    &:focus {
      outline: none;
    }
  }

  .form-check-input {
    margin-bottom: 50px;
  }

  .button {
    background-color: $title-color;
    color: white;
    font-weight: 400;
    font-size: 24px;

    text-transform: uppercase;

    border-radius: 8px;
    border: none;

    padding: 15px 25px;

    margin: 10px 0;
  }

  .divisor {
    margin: 20px 0;
    position: relative;
    border-bottom: 1px solid #eef3f7;
  }
}
