@import "../../../shared/scss/variables";

.breadcrumb {
  background-color: $bg-breadcrumb;

  height: 8.5625rem;

  display: flex;
  align-items: center;

  h1 {
    font-size: 4rem;
    font-weight: 400;
    color: $color-breadcrumb;
  }
}
